#ALIASES

# moving in FS
# enable zoxide with fallback
function cd() {
    if command -v z &> /dev/null; then
        z "$@"
    else
        builtin cd "$@"
    fi
}

alias ll="ls -laF"
alias ..="cd .."
alias ...="cd ../.."
alias show10="history 1 | awk '{print $2}' | sort | uniq -c | sort -nr | head -10"

# switch shell type
alias swbash="chsh -s /bin/bash"
alias swzsh="chsh -s /bin/zsh"

# source shell profile
alias bs="source ~/.bash_profile"
alias zs="source ~/.zshrc"

#programms

alias dcu="docker-compose up"
alias dcd="docker-compose down"
alias sail='sh $([ -f sail ] && echo sail || echo vendor/bin/sail)'

# Open editor alias:
# PhpStorm:
alias pstorm="open -a PhpStorm"
# other future editors

# Dotfiles open in editor:
# phpstorm
alias pdot="pstorm ~/.dotfiles"
# visual studio code
alias codedot="code ~/.dotfiles"

# Miscellaneous

# Recursively delete `.DS_Store` files
alias cleanDS="find /Volumes/CaseSensitive/{wa,src} -type f -name '*.DS_Store' -ls -delete"

# Switch php
alias swphp="~/.dotfiles/.scripts/phpversion.sh"

# Docker compose
alias dockup="docker compose up -d"

# Check port
# put lsof qua

#alias vim="nvim"
#alias intvim="int ~/.config/nvim"
#alias vimdot="cd ~/.dotfiles && vim ~/.dotfiles"
#alias vimn="cd ~/.config/nvim && vim ~/.config/nvim"

alias serena-cc='uvx -p 3.13 --from git+https://github.com/oraios/serena serena start-mcp-server --project-from-cwd --context claude-code'
